
/* --------------------------------------IMAGENS-------------------------------------------------- */

#div-imgs {
  position: relative;
  margin: auto;
  width: 100%;
  height: 400px;
}

.img-superficie {
  position: absolute;
  top: 10%;
  left: 2%;
}

.img-acesso {
  position: absolute;
  display: none;
  z-index: 2;
}

#rampa {
  top: 19%;
  left: 25%
}

#shaft-1 {
  top: 22%;
  left: 15%;
}

#shaft-2 {
  top: 20.5%;
  left: 25%;
}

#vent {
  position: absolute;
  top: 19%;
  left: 68%;
}

.div-img-correia {
  position: absolute;
  display: none;
  background-color: black;

}

#correia-1 {
  width: 5px;
  height: 160px;
  transform: rotate(-70deg);
  top: 35.5%;
  left: 33%;
}

#correia-2 {
  width: 5px;
  height: 100px;
  transform: rotate(70deg);
  top: 54%;
  left: 40%;
}

#correia-3 {
  width: 5px;
  height: 185px;
  transform: rotate(70deg);
  top: 17.5%;
  left: 36%;
}

#correia-4 {
  width: 5px;
  height: 105px;
  transform: rotate(-70deg);
  top: 14.8%;
  left: 44.5%;
}

#truck {
  position: absolute;
  display: none;
  top: 16%;
  left: 13%;
  z-index: 3;
  transform: rotate(4deg);
}

#orebody {
  position: absolute;
  top: 64%;
  left: 15%;
  z-index: 3;
}

#usina {
  position: absolute;
  top: 2.5%;
  left: 44%;
  z-index: 2;
  transform: rotate(-3deg);
}

#usina-2 {
  position: absolute;
  top: 2.5%;
  left: 70%;
  z-index: 2;
  transform: rotate(-3deg);
}

/* --------------------------------------FLUXOGRAMAS-------------------------------------------------- */

.div-fluxograma {
  border: 1pt solid; 
  z-index: 5;
  position: absolute;
  border-radius: 5px;
}
  
.div-fluxograma:hover {
  cursor: pointer;
  box-shadow: 0 0 10px var(--cor-1);
}
    
#fluxograma-start {
  right: 38.5%;
  top: 4%;
  height: 24px;
  width: 94px;
}
  
#fluxograma-sm {
  right: 28.7%;
  top: 15%;
  height: 24px;
  width: 189px;
}
  
#fluxograma-rock {
  right: 33.5%;
  top: 28.5%;
  height: 24px;
  width: 140.6px;
}
  
#fluxograma-depth-1 {
  right: 32.5%;
  top: 42.2%;
  height: 24px;
  width: 154px;
}
  
#fluxograma-prod-1 {
  right: 32.5%;
  top: 56.3%;
  height: 23px;
  width: 153px;
}
  
#fluxograma-inclined-belt {
  right: -2%;
  top: 53.5%;
  height: 22px;
  width: 211px;
  transform: rotate(-63.5deg);
}
  
#fluxograma-depth-2 {
  right: 32.5%;
  top: 69.9%;
  height: 23px;
  width: 154px;
}
  
#fluxograma-rampa {
  right: 43.5%;
  top: 86.1%;
  height: 24px;
  width: 190px;
  transform: rotate(-15deg);
}
  
#fluxograma-prod-2 {
  right: 72.5%;
  top: 56.2%;
  height: 99px;
  width: 35px;
}
  
#fluxograma-shaft {
  right: 87%;
  top: 14.9%;
  height: 227px;
  width: 24px;
}