/* --------------------------------------IMAGENS-------------------------------------------------- */


.img-superficie {
  position: absolute;
  top: 16%;
  left: 2%;
}

.img-acesso {
  position: absolute;
  display: none;
  z-index: 2;
}

#rampa {
  top: 18.5%;
  left: 25%
}

#shaft-1 {
  top: 22%;
  left: 15%;
}

#shaft-2 {
  top: 20.5%;
  left: 25%;
}

#vent {
  position: absolute;
  top: 20%;
  left: 60%;
}

.div-img-correia {
  position: absolute;
  display: none;
  background-color: black;
  width: 2.5px;

}

#correia-1 {
  height: 160px;
  transform: rotate(-70deg);
  top: 35.5%;
  left: 33%;
}

#correia-2 {
  height: 100px;
  transform: rotate(70deg);
  top: 54%;
  left: 40%;
}

#correia-3 {
  height: 185px;
  transform: rotate(70deg);
  top: 17.5%;
  left: 36%;
}

#correia-4 {
  height: 105px;
  transform: rotate(-70deg);
  top: 14.8%;
  left: 44.5%;
}

#truck {
  position: absolute;
  display: none;
  top: 16%;
  left: 13%;
  z-index: 3;
  transform: rotate(4deg);
}

#orebody {
  position: absolute;
  top: 64%;
  left: 15%;
  z-index: 3;
}

#usina {
  position: absolute;
  top: 1%;
  left: 69%;
  z-index: 2;
  transform: rotate(-4deg);
}


/* --------------------------------------------FLUXOGRAMA ---------------------------------------- */
.div-fluxograma {
  border: 1pt solid; 
  z-index: 5;
  position: absolute;
  border-radius: 5px;
}
  
.div-fluxograma:hover {
  cursor: pointer;
  box-shadow: 0 0 10px var(--cor-1);
}
    
#fluxograma-start {
  right: 36%;
  top: 2.6%;
  height: 25px;
  width: 103px;
}
  
#fluxograma-sm {
  right: 25.5%;
  top: 14%;
  height: 25px;
  width: 206px;
}
  
#fluxograma-rock {
  right: 30.6%;
  top: 28%;
  height: 25px;
  width: 155px;
}
  
#fluxograma-depth-1 {
  right: 29.5%;
  top: 42.3%;
  height: 24px;
  width: 168px;
}
  
#fluxograma-prod-1 {
  right: 29.5%;
  top: 56.2%;
  height: 24.8px;
  width: 168px;
}
  
#fluxograma-inclined-belt {
  right: -7.2%;
  top: 53.5%;
  height: 24px;
  width: 219px;
  transform: rotate(-62deg);
}
  
#fluxograma-depth-2 {
  right: 29.5%;
  top: 70.5%;
  height: 25px;
  width: 167px;
}
  
#fluxograma-rampa {
  right: 41.2%;
  top: 87.1%;
  height: 25px;
  width: 206px;
  transform: rotate(-14.5deg);
}
  
#fluxograma-prod-2 {
  right: 73%;
  top: 56.5%;
  height: 102px;
  width: 37.5px;
}
  
#fluxograma-shaft {
  right: 88.9%;
  top: 13.9%;
  height: 233px;
  width: 25px;
}